<% if(currentUser){ %> 
    <div>
        <img src="<%= mydata.imageLink %> " style="width: 20rem;">
        <form action="/profile/rating/<%= mydata.id %>?_method=PUT" method="post" id="ratingform">
            <label for="input-1" class="control-label">Rate This</label>
            <input id="rating" name="rating" class="rating" data-min="1" data-max="5" data-step="1" data-show-clear="false" data-show-caption="true">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form><br>
        Rating: <%= mydata.rating %> 
    </div><br>

    <div>
        <h2><%= mydata.title %></h2>

    </div>
    <div>Authors:
        <% mydata.author.forEach(author =>{ %> 
            <h4><%= author.name %> </h4>
        <% }) %> 
    </div>
    <div> Genre:
        <% mydata.genre.forEach(genre =>{ %> 
            <h4><%= genre %> </h4>
        <% }) %> 
    </div>
    <div>Publisher: 
        <h4><%= mydata.publisher %> </h4>
    </div>
    <div> Date Published: 
        <h4><%= mydata.publishDate %></h4>
    </div>
    <div><h5>Description:</h5>
        <p id="desc">
            <%= mydata.description %> 
        </p>
    </div>
    <div>
        <a href="/profile/remove/<%= mydata.id %>" class="btn btn-primary">Remove from Favourites</a>
    </div>
<% } %> 

