<% if(currentUser) {%> 
    <h2>Welcome Back <%= currentUser.firstName %> <%= currentUser.lastName %></h2><br><br>
 
 <% } else{ %>     
    <h2>Welcome to MoBooks. Please <a href="/auth/signin">login</a>.</h2><br><br>
 <% } %> 
<div>
    <form action="/api/search" method="get">
        <label>Search</label>
        <input type="text" name ='book'>
        <button type="submit">submit</button>
    </form><br>
</div>
<% if(data.length){ %> 
    <div class="card-deck"> 
        <% data.forEach( (data, index) => { %> 
            <% if(index < 16) {%> 
                <div class="card" style="width: 18rem;">
                    <img src="<%= data.imageLink %> ">
                    <div class="card-body">
                        <h4 class="card-title"><%= data.title %> </h4>
                        <% data.author.forEach(author =>{ %> 
                            <h6 class="card-title"><%= author.name %> </h6>
                        <% }) %> 
                        <a href="/books/detail/<%= data.id %> " class="btn btn-primary">View Details</a>
                        <% if(currentUser.isAdmin){ %> 
                            &emsp;&emsp;&emsp;
                            <form method="POST" action="/profile/delete/<%= data.id %>?_method=DELETE" class="form-inline">
                                <button class="btn btn-primary">Delete</button>
                            </form>
                        <% } %> 
                    </div>
                </div> 
            <% } %> 
        <% }) %> 
    </div>
<% } else { %>
    <h5>No Books Chosen</h5>
<% } %>


