<% if(currentUser) {%> 
    <h2>Welcome Back <%= currentUser.firstName %> <%= currentUser.lastName %></h2><br><br>
 
 <% } else{ %>     
    <h2>Welcome to MoBooks. Please <a href="/auth/signin">login</a>.</h2><br><br>
 <% } %> 
<div>
    <form action="/api/search" method="get">
        <label>Search</label>
        <input class="form form-control" type="search" placeholder="Search" aria-label="Search" name="book" id="search">
        <button type="submit" class="btn btn-outline-success">submit</button>
    </form><br>
</div>
<div class="card-deck"> 
    <% apidata.forEach( (data) => { %> 
    
        <div class="card" style="width: 18rem;">
            <% if(data.volumeInfo.imageLinks){ %> 
                <img src="<%= data.volumeInfo.imageLinks.thumbnail %> ">
            <% } else{ %> 
            <div></div>
            <% } %> 
            <div class="card-body">
                <h4 class="card-title"><%= data.volumeInfo.title %> </h4>
                <h6 class="card-title"><%= data.volumeInfo.authors %> </h6>
                <a href="/api/detail/<%= data.id %> " class="btn btn-primary">View Details</a>
            </div>
        </div> 

    <% }) %> 
</div>


